@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 30px;
    /* padding-bottom: 30px; */
    margin: 0;
     background: linear-gradient(43deg, rgba(0, 217, 91, 0.1) 0%, rgba(97, 92, 246, 0.1) 53.65%, rgba(255, 255, 255, 0.1) 100%), #fff;
    
    margin-left: 50px;
    padding-bottom: 270px;
}
.card-div{
	margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
  width: 100vw;
}

.card {
    height: fit-content;
    width: 300px;
    margin-left:50px;
   background: radial-gradient(28.68% 28.68% at 50% 19.21%, #FFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(315deg, rgba(225, 239, 254, 0.8) 0%, rgba(213, 245, 246, 0.8) 0.01%, rgba(237, 250, 250, 0.8) 100%);
   
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
    color: black;
    /* padding-bottom: 700px; */
}

.card:hover {
    transform: scale(1.05);
}

h2 {
    color: #3498db;
}

p {
    font-weight: 300;
    margin: 10px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.footInclude{
	
	position:absolute;
	left:0;
	right:0;
	bottom:-240px;
}